* {
  box-sizing: border-box;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

/* This forces all containers in Quartz to respect the screen width */
.page {
  max-width: 100vw;
  overflow-x: hidden;
}